<p>Results</p>
<p>{{#if results.error}}
       <p>Sorry, can't get that birthday!</p>
    {{else}}
      <p>Got it! {{results.name}}'s birthday is on {{results.month}}/{{results.day}}</p>
      {{#if results.spotify}}
      <p>Listen to <a href="{{results.spotifyLink}}">{{results.spotifyName}} on Spotify</a> where they have {{results.followers}} followers!</p>
      {{/if}}
    {{/if}}</p>